.dropdown__theme{
  position: relative;
}

.dropdown__toggle{
  cursor: pointer;
  font-size: 32px;
  position: relative;
  background-color: var(--second-bg);

}

.theme-menu{
  // visibility: hidden;
  position: fixed;
  right: -300px;
  top: 0;
  width: 250px;
  height: 100vh;
  padding: 16px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: var(--main-bg);
  z-index: 100;
  transition: right 0.5s ease;

  &.active{
      right: 0;
      visibility:inherit;
      transition: right 0.5s ease;
  }

  &__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      &__close{
          font-size: 22px;
          cursor: pointer;
          background-color: var(--main-bg);
      }
  }


  & > &__mode{
      margin-bottom: 32px;
  }

  &__mode{
      span{
          display: block;
      }

      li{
          display: flex;
          justify-content: start;
          align-items: center;
          margin: 12px 0;
          cursor: pointer;

          .mode-list__color{
              border-radius: 50%;
              width: 22px;
              height: 22px;
              margin-right: 8px;
              box-shadow: 0px 0px 1px 2px rgba(#000,0.1);

              .mode-list__check__icon{
                  border-radius: 50%;
                  visibility: hidden;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &.active{
                      visibility: inherit;
                  }
              }

          }

      }
  }
}
