.sidebar{
  min-width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);

  &__content{
    &__logo{
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      &>a{
        &>img{
          width: 200px;
        }
      }
    }

    &__link{
      padding: 0 22px;

      &__list{
        &__item{
          padding: 12px 0px 12px 22px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          transition: color 0.3s ease, background-color 0.3s ease;

          &.active{
            background-color: var(--main-color);
            color: var(--main-bg);
          }

          &>a{
            &>i{
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
